$accent: #3f8ae0;
$action-sheet-action-foreground: #3f8ae0;
$action-sheet-separator: rgba(0, 0, 0, 0.12);
$activity-indicator-tint: #aeb7c2;
$attach-picker-tab-active-background: #4986cc;
$attach-picker-tab-active-icon: #ffffff;
$attach-picker-tab-active-text: #4986cc;
$attach-picker-tab-inactive-background: #f2f3f5;
$attach-picker-tab-inactive-icon: #818c99;
$attach-picker-tab-inactive-text: #818c99;
$background-content: #ffffff;
$background-highlighted: rgba(0, 0, 0, 0.08);
$background-keyboard: #e1e3e6;
$background-light: #f9f9f9;
$background-page: #ebedf0;
$background-suggestions: #ffffff;
$button-bot-shadow: #c4c8cc;
$button-commerce-background: #4bb34b;
$button-commerce-foreground: #ffffff;
$button-muted-background: #f2f3f5;
$button-muted-foreground: #3f8ae0;
$button-outline-border: #3f8ae0;
$button-outline-foreground: #3f8ae0;
$button-primary-background: #ff1e00;
$button-primary-foreground: #ffffff;
$button-secondary-background: rgba(0, 29, 61, 0.05);
$button-secondary-foreground: #3f8ae0;
$button-tertiary-background: rgba(0, 0, 0, 0.00);
$button-tertiary-foreground: #4986cc;
$cell-button-foreground: #3f8ae0;
$content-placeholder-icon: #99a2ad;
$content-placeholder-text: #818c99;
$content-tint-background: #f5f5f5;
$content-tint-foreground: #7f8285;
$control-background: #ebedf0;
$control-foreground: #5181b8;
$control-tint: #ffffff;
$control-tint-muted: #76787a;
$counter-primary-background: #3f8ae0;
$counter-primary-text: #ffffff;
$counter-prominent-background: #ff3347;
$counter-prominent-text: #ffffff;
$counter-secondary-background: #aeb7c2;
$counter-secondary-text: #ffffff;
$destructive: #e64646;
$field-background: #f2f3f5;
$field-border: rgba(0, 0, 0, 0.12);
$field-error-background: #faebeb;
$field-error-border: #e64646;
$field-valid-border: #4bb34b;
$field-text-placeholder: #818c99;
$float-button-background: #f5f5f5;
$float-button-background-highlighted: #ebedf0;
$float-button-foreground: #99a2ad;
$float-button-border: rgba(0, 0, 0, 0.05);
$header-alternate-background: #ffffff;
$header-alternate-tab-active-indicator: #3f8ae0;
$header-alternate-tab-active-text: #000000;
$header-alternate-tab-inactive-text: #99a2ad;
$header-background: #ffffff;
$header-background-before-blur: #ffffff;
$header-background-before-blur-alternate: #ffffff;
$header-search-field-background: #ebedf0;
$header-search-field-tint: #818c99;
$header-tab-active-background: rgba(0, 0, 0, 0.00);
$header-tab-active-text: #000000;
$header-tab-active-indicator: #3f8ae0;
$header-tab-inactive-text: #99a2ad;
$header-text: #000000;
$header-text-alternate: #000000;
$header-text-secondary: #818c99;
$header-tint: #3f8ae0;
$header-tint-alternate: #3f8ae0;
$icon-alpha-placeholder: #ffffff;
$icon-medium: #818c99;
$icon-outline-medium: #818c99;
$icon-outline-secondary: #99a2ad;
$icon-secondary: #99a2ad;
$icon-tertiary: #c4c8cc;
$im-attach-tint: #4986cc;
$im-bubble-border-alternate: #e1e3e6;
$im-bubble-border-alternate-highlighted: #d7d8d9;
$im-bubble-button-background: #f9f9f9;
$im-bubble-button-background-highlighted: #d7d8d9;
$im-bubble-button-foreground: #000000;
$im-bubble-expiring: #d4fde8;
$im-bubble-expiring-highlighted: #aee6c9;
$im-bubble-incoming: #ebedf0;
$im-bubble-incoming-alternate: #ffffff;
$im-bubble-incoming-alternate-highlighted: #f9f9f9;
$im-bubble-incoming-highlighted: #d7d8d9;
$im-bubble-gift-background: #f4e4be;
$im-bubble-gift-text: #7a6c4f;
$im-bubble-gift-text-secondary: #9e8d6b;
$im-bubble-outgoing: #cce4ff;
$im-bubble-outgoing-alternate: #ffffff;
$im-bubble-outgoing-highlighted: #add3ff;
$im-bubble-outgoing-alternate-highlighted: #f9f9f9;
$im-bubble-wallpaper-button-background: #f2f3f5;
$im-bubble-wallpaper-button-background-highlighted: #e1e3e6;
$im-bubble-wallpaper-button-foreground: #000000;
$im-bubble-wallpaper-expiring-border: rgba(0, 103, 50, 0.12);
$im-bubble-wallpaper-incoming: #ffffff;
$im-bubble-wallpaper-incoming-highlighted: #ebedf0;
$im-bubble-wallpaper-incoming-border: rgba(0, 57, 115, 0.10);
$im-bubble-wallpaper-outgoing: #cce4ff;
$im-bubble-wallpaper-outgoing-highlighted: #add3ff;
$im-bubble-wallpaper-outgoing-border: rgba(0, 57, 115, 0.10);
$im-forward-line-tint: #45678f;
$im-reply-sender-text: #4986cc;
$im-reply-separator: #4986cc;
$im-toolbar-voice-msg-background: #99a2ad;
$im-toolbar-separator: #001d3d;
$image-border: rgba(0, 0, 0, 0.08);
$input-background: #f2f3f5;
$input-border: #e1e3e6;
$landing-background: #ffffff;
$landing-field-background: #f2f3f5;
$landing-field-border: rgba(0, 0, 0, 0.00);
$landing-field-placeholder: #818c99;
$landing-login-button-background: #4986cc;
$landing-login-button-foreground: #ffffff;
$landing-primary-button-background: #4986cc;
$landing-primary-button-foreground: #ffffff;
$landing-tertiary-button-background: rgba(0, 0, 0, 0.00);
$landing-tertiary-button-foreground: #4986cc;
$landing-text-primary: #000000;
$landing-text-title: #4986cc;
$landing-text-secondary: #818c99;
$landing-secondary-button-background: rgba(0, 57, 115, 0.10);
$landing-secondary-button-foreground: #3f8ae0;
$landing-snippet-border: rgba(0, 0, 0, 0.15);
$like-text-tint: #ff3347;
$link-alternate: #4986cc;
$loader-background: #ebedf0;
$loader-tint: #76787a;
$loader-track-fill: #e1e3e6;
$loader-track-value-fill: #528bcc;
$media-overlay-button-background: #ffffff;
$media-overlay-button-foreground: #2c2d2e;
$modal-card-background: #ffffff;
$modal-card-border: rgba(0, 0, 0, 0.00);
$modal-card-header-close: #000000;
$music-playback-icon: #000000;
$feed-recommended-friend-promo-background: #528bcc;
$overlay-status-background: #ebedf0;
$overlay-status-foreground: #6d7885;
$overlay-status-icon: #818c99;
$placeholder-icon-background: rgba(0, 29, 61, 0.08);
$placeholder-icon-foreground-primary: #99a2ad;
$placeholder-icon-foreground-secondary: #aeb7c2;
$placeholder-icon-tint: #001d3d;
$poll-option-background: #45678f;
$search-bar-background: #ffffff;
$search-bar-field-background: #ebedf0;
$search-bar-field-tint: #818c99;
$search-bar-segmented-control-tint: #818c99;
$segmented-control-bar-background: rgba(0, 0, 0, 0.00);
$segmented-control-tint: #99a2ad;
$selection-off-icon: #c4c8cc;
$separator-alpha: rgba(0, 0, 0, 0.12);
$separator-alternate: #e1e3e6;
$separator-common: #d7d8d9;
$snippet-background: #ffffff;
$snippet-border: rgba(0, 0, 0, 0.15);
$snippet-icon-tertiary: #c4c8cc;
$splashscreen-icon: #e1e3e6;
$statusbar-alternate-legacy-background: rgba(0, 0, 0, 0.30);
$stories-create-button-background-from: #f2f3f5;
$stories-create-button-background-to: #e1e3e6;
$stories-create-button-foreground: #6d7885;
$stories-skeleton-loader-background: #c4c8cc;
$switch-ios-off-border: #e1e3e6;
$stories-create-button-icon-background: #ffffff;
$tabbar-active-icon: #2975cc;
$tabbar-background: #f9f9f9;
$tabbar-inactive-icon: #99a2ad;
$tabbar-tablet-active-icon: #2975cc;
$tabbar-tablet-background: #f9f9f9;
$tabbar-tablet-inactive-icon: #99a2ad;
$tabbar-tablet-text-primary: #000000;
$tabbar-tablet-text-secondary: #909499;
$toolbar-attach-background-from: #b8c1cc;
$toolbar-attach-background-to: #a3adb8;
$text-action-counter: #818c99;
$text-link: #4986cc;
$text-link-hightlighted-background: #000000;
$text-muted: #2c2d2e;
$text-name: #4986cc;
$text-placeholder: #818c99;
$text-primary: #202020;
$text-secondary: #818c99;
$text-subhead: #6d7885;
$text-tertiary: #99a2ad;
$icon-name: #74a2d6;
$panel-tab-active-background: #ebedf0;
$panel-tab-active-text: #5d5f61;
$panel-tab-inactive-text: #76787a;
$im-service-message-text: #818c99;
$writebar-icon: #3f8ae0;
$dynamic-blue: #3f8ae0;
$dynamic-gray: #a3adb8;
$dynamic-red: #ff3347;
$dynamic-green: #4bb34b;
$dynamic-orange: #ffa000;
$dynamic-violet: #792ec0;