$base-color: #202020;
$primary-color: rgb(255, 105, 0);
$tomato-color: #ca2521;
$peperoni-color: #61120e;
$delta-color: #a5a79a;

$ff: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$ff-ancy: 'Itim', cursive;