@import '../base/mixins';
.btn {
	$class: btn;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	box-sizing: border-box;
	font-weight: 400;
	cursor: pointer;
	text-align: left;
	border: 1px solid;
	transition: all 0.15s ease-in-out;

	&:hover { transition: all 0.15s ease-in-out 0.15s; }
	&:focus { outline: 0 none; }

	@include btn-sizes(3, $class);
	@include btn-styles(1, $class);

	&_xs { @include btn-sizes(1, $class); }
	&_sm { @include btn-sizes(2, $class); }
	&_lg { @include btn-sizes(4, $class); }
	&_xl { @include btn-sizes(5, $class); }

	&_primary { @include btn-styles(2, $class); }
	&_secondary { @include btn-styles(3, $class); }
	&_success { @include btn-styles(4, $class); }
	&_warning { @include btn-styles(5, $class); }

	&_bold { font-weight: bold; }
	&_italic { font-style: italic; }
	&_rounded { border-radius: 50px; }
	&_fullWidth { width: 100%; }

	&_link {
		height: auto;
		padding: 0;
		background: none;
		border: 0 none;

		&:hover {
			background: none;
			text-decoration: underline;
		}
		&:active:focus {
			background: none;
			box-shadow: none;
		}
	}
	&_outline {
		background: none;
	}

	&:disabled:not(&_link), &:disabled:hover:not(&_link), &:disabled:active:focus:not(&_link) {
		background: none;
		background: $b250;
		border-color: $b250;
		color: $b100;
		cursor: default;
	}

	&_first {
		margin-right: -1px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	&_last {
		margin-right: -1px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	&_mid {
		margin-right: -1px;
		border-radius: 0;
	}
	&_first, &_last, &_mid {
		z-index: 1;
	}
	&_active#{&}_first, &_active#{&}_last, &_active#{&}_mid {
		z-index: 1;
	}

	&__icon {
		&_start {
			margin-right: 5px;
		}
		&_end {
			margin-left: 5px;
		}
	}
}
