$className: rcy-button;
.#{$className} {
  display: inline-flex;
  border: 1px solid;
  align-items: center;
  cursor: pointer;
  text-decoration: none;

  @at-root {
    a.#{$className} {
      display: inline;
    }
  }

  &:focus { outline: 0 none; }

  @include sizes();
  @include easing();
  @include appearance();
  @include colorize-button-default();
  @include colorize-button-various();
  @include colorize-button-disabled();
}
