@import '../base/variables';

@mixin gen-h() {
	@for $i from 1 through 5 {
		.h#{$i} {
			margin-top: nth($spacingY, $i);
			margin-bottom: nth($spacingY, $i);
			font-size: nth($headingFontSize, $i);
			font-weight: 700;
			font-family: $fontFamily;
			line-height: nth($lineHeight, $i);
			color: #1f3240;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}

@include gen-h;
