.header {
  display: grid;
  grid-template-columns: 100px 1fr 100px;

  height: 100%;

  &__slot1, &__slot2, &__slot3 {
    display: flex;
    align-items: center;
  }
  &__slot3 {
    justify-content: flex-end;
  }
}
