@import '../core/variables.scss';

.layout {
  display: grid;
  min-height: 100%;
  grid-template-areas:
    "header"
    "content"
    "footer"
  ;
  grid-template-rows: 60px 1fr 60px;

  &__header {
    display: flex;
    grid-area: header;
    align-items: stretch;
  }

  &__basket {
    align-self: flex-end;
  }

  &__content {
    grid-area: content;
  }

  &__footer {
    grid-area: footer;
  }

  &__container {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    width: 100%;
    max-width: 1430px;
    padding-left: 24px;
    padding-right: 24px;
  }
}