@import '../core/variables.scss';

.layout {
  display: grid;
  min-height: 100%;
  grid-template-areas:
    "header"
    "content"
    "footer"
  ;
  grid-template-rows: 60px 1fr 60px;

  &__header {
    grid-area: header;
  }

  &__content {
    grid-area: content;
  }

  &__footer {
    grid-area: footer;
  }

  &__container {
    margin: 0 auto;
    max-width: 1430px;
    padding-left: 24px;
    padding-right: 24px;
  }
}