@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap');
@import url('https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css');
@import '~normalize.css/normalize.css';
@import 'styles/index';
@import 'components/index';

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: $fontFamily;
    font-size: $fontSize_md;
    line-height: $lineHeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 700;
    line-height: 1.3;
}
h1 { font-size: 4em; }
h2 { font-size: 2.5em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1em; }
h4 { font-size: 0.875em; }
h6 { font-size: 0.750em; }

a {
    color: var(--rcy-color-primary-link);
    &:hover {
        color: var(--rcy-color-primary-linkHover);
        text-decoration: none;
    }
    &:active:focus {
        color: var(--rcy-color-primary-linkActive);
    }
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}
