@import '../../core/variables.scss';
@import '../../core/mixins.scss';

.input {
  @include size-model;

  border: 1px solid $delta-color;
  border-radius: 5px;

  font-family: $ff;
  font-weight: 400;

  &:focus {
    outline: 0 none;
  }

  &:hover, &:focus {
    border-color: $primary-color;
  }

  &:focus {
    box-shadow: 0 1px 3px mix(#ffffff, $primary-color);
  }
}
