@import '../../core/variables.scss';
@import '../../core/mixins.scss';

.input {
  @include size-model;

  border: 1px solid $delta-color;
  border-radius: 5px;
  
  font-family: $ff;
  font-weight: 400;

  &:focus {
    outline: 0 none;
  }

  &:hover, &:focus {
    border: 1px solid $primary-color;
  }
}