@mixin size-list(
  $spacingX,
  $spacingY
) {
  &.#{$className}_spaced {
    margin-left: -$spacingX / 2;
    margin-right: -$spacingX / 2;
  }
  &.#{$className}_spaced .#{$className}__item {
    padding-left: $spacingX / 2;
    padding-right: $spacingX /2;
  }
}

@mixin sizes-list() {
  @each $size, $set in $sizes {
    &_#{$size} {
      @include size-list(
        $spacingX_md,
        $spacingY_md
      );
    }
  }
}

@mixin colorize-list() {

}
@mixin colorize-list-default {
  @include colorize-list();
}
@mixin colorize-list-various() {
  @each $style, $set in $colors {
    &_#{$style} {
      @include colorize-list();
    }
  }
}
