$className: rcy-reference;
.#{$className} {
  display: flex;
  justify-content: space-between;

  &__body {
    border-left: 2px solid;
  }
  &__title {
    margin: 0;
  }
  &__descr {
    margin: 0;
  }

  @include sizes-reference($className);
  @include colorize-reference-default($className);
  @include colorize-reference-various($className);
}
