@import 'variables';

@function getButtonColors($style) {
	@if $style == 1 {
		$colors: (
				linkColor: $b900,
				textColor: $b900,
				idleColor: $b100,
				bottomColor: $b200,
				borderLight: $b200,
				borderColor: $b300,
				shadowColor: $b500,
				hoverColor: $b200,
				activeColor: $b200,
				borderHover: $b350,
				borderActive: $b350
		);
		@return $colors;
	} @else {
		$style: nth($styles, $style);
		$colors: (
				linkColor: map-get(map-get($palette, $style), a450),
				textColor: $b100,
				idleColor: map-get(map-get($palette, $style), a350),
				bottomColor: map-get(map-get($palette, $style), a400),
				borderLight: map-get(map-get($palette, $style), a250),
				borderColor: map-get(map-get($palette, $style), a450),
				shadowColor: map-get(map-get($palette, $style), a900),
				hoverColor: map-get(map-get($palette, $style), a400),
				activeColor: map-get(map-get($palette, $style), a400),
				borderHover: map-get(map-get($palette, $style), a550),
				borderActive: map-get(map-get($palette, $style), a550)
		);
		@return $colors;
	}
}
