// Sizes
$fontSize_xs: 12px;
$fontSize_sm: 14px;
$fontSize_md: 16px;
$fontSize_lg: 20px;
$fontSize_xl: 24px;

$headingFontSize_xs: 16px;
$headingFontSize_sm: 20px;
$headingFontSize_md: 24px;
$headingFontSize_lg: 28px;
$headingFontSize_xl: 32px;

$spacingX_xs: 8px;
$spacingX_sm: 10px;
$spacingX_md: 12px;
$spacingX_lg: 14px;
$spacingX_xl: 16px;

$spacingY_xs: 3px;
$spacingY_sm: 5px;
$spacingY_md: 7px;
$spacingY_lg: 9px;
$spacingY_xl: 11px;

$elementWidth_xs: 80px;
$elementWidth_sm: 100px;
$elementWidth_md: 120px;
$elementWidth_lg: 140px;
$elementWidth_xl: 160px;

$elementHeight_xs: 24px;
$elementHeight_sm: 32px;
$elementHeight_md: 40px;
$elementHeight_lg: 48px;
$elementHeight_xl: 56px;

$borderRadius_xs: 2px;
$borderRadius_sm: 3px;
$borderRadius_md: 5px;
$borderRadius_lg: 5px;
$borderRadius_xl: 5px;

// Css vars
:root {
  --rcy-fs-xs: #{$fontSize_xs};
  --rcy-fs-sm: #{$fontSize_sm};
  --rcy-fs-md: #{$fontSize_md};
  --rcy-fs-lg: #{$fontSize_lg};
  --rcy-fs-xl: #{$fontSize_xl};
}
