@import '../core/variables.scss';

.button {
  height: 32px;
  padding: 5px 16px;
  text-decoration: none;

  background-image: none;
  background-color: transparent;

  border: 1px solid $primary-color;
  border-radius: 5px;

  white-space: nowrap;
  font: 12px/1.5 $ff;
  font-weight: 400;
  color: $primary-color;

  cursor: pointer;

  &:hover, &:active:focus {
    background-color: $primary-color;
    color: #fff;
  }

  &:focus {
    outline: 0 none;
  }

  &:active:focus {
    border-color: mix($primary-color, $tomato-color);
    box-shadow: inset 0 1px 4.5px mix($primary-color, $tomato-color);
  } 
}