$className: rcy-list;
.#{$className} {
  margin: 0;
  padding: 0;
  list-style: none;

  &_flex {
    &-rows {
      display: flex;
      flex-direction: row;
    }
    &-columns {
      display: flex;
      flex-direction: column;
    }
  }

  &__item {

  }

  @include sizes-list();
}
