@import 'https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,500,700,700i&display=swap';
@import 'https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css';
@import '~normalize.css/normalize.css';
@import 'styles/index';
@import 'components/index';

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: $fontFamily;
    font-size: #{$fontSize_md}$units;
    line-height: $lineHeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
