@mixin colorize-button($style) {
  background-color: var(--rcy-button-#{$style}-background);
  border-color: var(--rcy-button-#{$style}-border);
  color: var(--rcy-button-#{$style}-foreground);
  &:hover {
    background-color: var(--rcy-button-#{$style}-backgroundHover);
    border-color: var(--rcy-button-#{$style}-borderHover);
    color: var(--rcy-button-#{$style}-foregroundHover);
  }
  &:active:focus {
    background-color: var(--rcy-button-#{$style}-backgroundActive);
    border-color: var(--rcy-button-#{$style}-borderActive);
    color: var(--rcy-button-#{$style}-foregroundActive);
  }

  &.#{$className}_outline {
    background-color: transparent;
    color: var(--rcy-button-#{$style}-link);
    &:hover {
      background-color: #{var(--rcy-button-#{$style}-backgroundHover)}30;
      color: var(--rcy-button-#{$style}-linkHover);
    }
    &:active:focus {
      background-color: #{var(--rcy-button-#{$style}-backgroundActive)}30;
      color: var(--rcy-button-#{$style}-linkActive);
    }
  }

  &.#{$className}_shadow {
    box-shadow: 0 2px 4px rgba(96, 97, 112, 0.16),
                0 0 1px rgba(40, 41, 61, 0.04);
    &:hover {
      box-shadow: 0 2px 4px #{var(--rcy-button-#{$style}-border)}56,
                  0 0 1px #{var(--rcy-button-#{$style}-border)}34;
    }
  }

  &.#{$className}_inline {
    height: auto;
    padding: 0;
    border-width: 0;
    color: var(--rcy-button-#{$style}-link);
    &:hover {
      color: var(--rcy-button-#{$style}-linkHover);
    }
    &:active:focus {
      color: var(--rcy-button-#{$style}-linkActive);
    }
    &, &:hover, &:active:focus {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
    }
  }
}
@mixin colorize-button-default() {
  @include colorize-button(default);
}
@mixin colorize-button-disabled() {
  &:disabled {
    cursor: default;
    &, &:hover, &:active:focus {
      background-color: var(--rcy-button-backgroundDisabled);
      border-color: var(--rcy-button-borderDisabled);
      color: var(--rcy-button-foregroundDisabled);
    }
  }
  .#{$className}_inline:disabled {
    &, &:hover, &:active:focus {
      background-color: transparent;
      border-color: transparent;
      color: var(--rcy-button-linkDisabled);
    }
  }
}
@mixin colorize-button-various() {
  @each $style, $set in $colors {
    &_#{$style} {
      @include colorize-button($style);
    }
  }
}
