@mixin size-checkbox($className, $size, $borderRadius) {
  width: #{$size}$units;
  height: #{$size}$units;
  font-size: 0;
  border-radius: #{$borderRadius}$units;

  & .#{$className}__icon {
    font-size: #{$size}$units;
    transform: translateY(#{$size}$units);
  }
}

@mixin sizes-checkbox($className) {
  @include size-checkbox($className, $fontSize_md, 3);

  &_xs {
    @include size-checkbox($className, $fontSize_xs, 1);
  }
  &_sm {
    @include size-checkbox($className, $fontSize_sm, 1);
  }
  &_md {
    @include size-checkbox($className, $fontSize_md, 2);
  }
  &_lg {
    @include size-checkbox($className, $fontSize_lg, 3);
  }
  &_xl {
    @include size-checkbox($className, $fontSize_xl, 3);
  }
}

@mixin colorize-checkbox(
  $background,
  $backgroundHover,
  $backgroundActive,
  $backgroundDisabled,
  $border,
  $borderHover,
  $borderActive,
  $borderDisabled
) {
  background-color: $background;
  border-color: $border;

  &:hover {
    background-color: #{$backgroundHover}30;
    border-color: $borderHover;
  }
  &:active:focus {
    background-color: #{$backgroundActive}30;
    border-color: $borderActive;
  }
}

@mixin colorize-checkbox-default() {
  @include colorize-checkbox(
      map_get($colors_default, background),
      map_get($colors_default, backgroundHover),
      map_get($colors_default, backgroundActive),
      map_get($colors_default, backgroundDisabled),
      map_get($colors_default, border),
      map_get($colors_primary, borderHover),
      map_get($colors_primary, borderActive),
      map_get($colors_primary, borderDisabled)
  );
}

@mixin colorize-checkbox-various() {
  @each $style, $set in $colors {
    &_#{$style} {
      @include colorize-checkbox(
        map_get($colors_default, background),
        map_get($colors_default, backgroundHover),
        map_get($colors_default, backgroundActive),
        map_get($colors_default, backgroundDisabled),
        map_get($set, border),
        map_get($set, borderHover),
        map_get($set, borderActive),
        map_get($set, borderDisabled)
      );
    }
  }
}
