@mixin sizes() {
  &_xs {
    height: #{$elementHeight_xs}$units;
    padding: #{$spacingY_xs}$units #{$spacingX_xs}$units;
    font-size: #{$fontSize_xs}$units;
    border-radius: #{$borderRadius_xs}$units;
  }
  &_sm {
    height: #{$elementHeight_sm}$units;
    padding: #{$spacingY_sm}$units #{$spacingX_sm}$units;
    font-size: #{$fontSize_sm}$units;
    border-radius: #{$borderRadius_sm}$units;
  }
  &_md {
    height: #{$elementHeight_md}$units;
    padding: #{$spacingY_md}$units #{$spacingX_md}$units;
    font-size: #{$fontSize_md}$units;
    border-radius: #{$borderRadius_md}$units;
  }
  &_lg {
    height: #{$elementHeight_lg}$units;
    padding: #{$spacingY_lg}$units #{$spacingX_lg}$units;
    font-size: #{$fontSize_lg}$units;
    border-radius: #{$borderRadius_lg}$units;
  }
  &_xl {
    height: #{$elementHeight_xl}$units;
    padding: #{$spacingY_xl}$units #{$spacingX_xl}$units;
    font-size: #{$fontSize_xl}$units;
    border-radius: #{$borderRadius_xl}$units;
  }
}

@mixin appearance($className) {
  font-family: $fontFamily;
  line-height: $lineHeight;

  .#{$className}_rounded {
    border-radius: 50px;
  }
  .#{$className}_square {
    border-radius: 0;
  }
  .#{$className}_bold {
    font-weight: 700;
  }
  .#{$className}_italic {
    font-style: italic;
  }
  .#{$className}_stackedLeft {
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .#{$className}_stackedRight {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .#{$className}_paddingY0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .#{$className}_paddingX0 {
    padding-left: 0;
    padding-right: 0;
  }
  .#{$className}_textCenter {
    text-align: center;
    justify-content: center;
  }
}
