@mixin colorize-input($style) {
  background-color: var(--rcy-input-background);
  border-color: var(--rcy-input-#{$style}-border);
  color: var(--rcy-input-foreground);

  &:hover {
    background-color: var(--rcy-input-background);
    border-color: var(--rcy-input-#{$style}-borderHover);
    color: var(--rcy-input-foregroundHover);
  }

  &:focus {
    background: var(--rcy-input-background);
    border-color: var(--rcy-input-#{$style}-borderActive);
    color: var(--rcy-input-foregroundActive);
    box-shadow: 0 8px 16px #{var(--rcy-input-#{$style}-border)}46,
                0 2px 4px #{var(--rcy-input-#{$style}-border)}24;
  }

  &:disabled {
    cursor: default;

    &, &:hover, &:focus {
      background-color: var(--rcy-input-backgroundDisabled);
      border-color: var(--rcy-input-borderDisabled);
      color: var(--rcy-input-foregroundDisabled);
    }
  }
}
@mixin colorize-input-default {
  @include colorize-input(default);
}
@mixin colorize-input-various() {
  @each $style, $set in $colors {
    &_#{$style} {
      @include colorize-input($style);
    }
  }
}
