@import '../base/mixins';
.input {
	$class: input;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	border: 1px solid;
	font-weight: 400;
	transition: all 0.15s ease-in-out;

	&:hover { transition: all 0.15s ease-in-out 0.15s; }
	&:focus { outline: 0 none; }

	@include input-sizes(3, $class);
	@include input-styles(1, $class);

	&_xs { @include input-sizes(1, $class); }
	&_sm { @include input-sizes(2, $class); }
	&_xl { @include input-sizes(5, $class); }
	&_lg { @include input-sizes(4, $class); }

	&_primary { @include input-styles(2, $class); }
	&_secondary { @include input-styles(3, $class); }
	&_success { @include input-styles(4, $class); }
	&_warning { @include input-styles(5, $class); }
}
