@import '../base/mixins';
.switch {
	$class: switch;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
	transition: background-color 0.15s ease-in-out;

	&:hover {
		transition: all 0.15s ease-in-out 0.15s;
	}

	& + & {
		margin-left: 10px;
	}

	@include switch-sizes(3, $class);
	@include switch-styles(4, $class);

	&__trigger {
		content: "";
		position: absolute;
		top: 2px;
		left: 2px;
		border-radius: 50%;
		transition: transform 0.15s ease-in-out;
	}

	&_xs { @include switch-sizes(1, $class); }
	&_sm { @include switch-sizes(2, $class); }
	&_lg { @include switch-sizes(4, $class); }
	&_xl { @include switch-sizes(5, $class); }

	&_default { @include switch-styles(1, $class); }
	&_primary { @include switch-styles(2, $class); }
	&_secondary { @include switch-styles(3, $class); }
	&_warning { @include switch-styles(5, $class); }

	&__hidden {
		margin: 0;
		position: absolute;
		visibility: hidden;
		opacity: 0;
	}
}
