$className: rcy-input;
.#{$className} {
  display: block;
  width: 100%;
  border: 1px solid;

  &:focus { outline: 0 none; }

  @include sizes();
  @include colorize-input-default();
  @include colorize-input-various($className);
  @include appearance($className);

  @at-root {
    textarea#{&} {
      height: auto;
      resize: vertical;
    }
  }
}
