$className: rcy-input;
.#{$className} {
  display: block;
  width: 100%;
  border: 1px solid;
  box-shadow: none;

  &:focus { outline: 0 none; }

  @include sizes();
  @include easing();
  @include appearance();
  @include colorize-input-default();
  @include colorize-input-various();

  @at-root {
    textarea#{&} {
      height: auto;
      resize: vertical;
    }
  }
}
