@mixin popup() {
  .#{$className}__inner {
    @include media-query(desktop) {
      max-width: var(--rcy-width-desktop-6);
      max-height: var(--rcy-width-desktop-4);
    }
  }
}

@mixin popupInner-sizes(
  $elementHeight,
  $spacingX,
  $spacingY,
  $fontSize,
  $borderRadis
) {
  grid-template-rows: $elementHeight 1fr $elementHeight;
  font-size: $fontSize;
  border-radius: $borderRadis;

  .#{$className}__body {
    padding: $spacingY $spacingX;
  }

  .#{$className}__header {
    padding-left: $spacingX;
    padding-right: $spacingX;
    border-top-left-radius: $borderRadis;
    border-top-right-radius: $borderRadis;
  }
  .#{$className}__footer {
    border-bottom-left-radius: $borderRadis;
    border-bottom-right-radius: $borderRadis;
  }
}

@mixin popupInner() {
  @each $size, $set in $sizes {
    &_#{$size} {
      @include popupInner-sizes(
        $elementHeight_md,
        $spacingX_md,
        $spacingY_md,
        $fontSize_md,
        $borderRadius_md
      );
    }
  }
}

@mixin popupArea() {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
